/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

@font-face {
  font-family: "kaushan";
  src:
    url("fonts/kaushanscript-regular-webfont.woff") format("woff"),
    url("fonts/kaushanscript-regular-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "roboto";
  src:
    url("fonts/roboto-regular-webfont.woff") format("woff"),
    url("fonts/roboto-regular-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

body {
  display: flex;
  background-image: linear-gradient(to bottom, #4d6da3, #1d293d);
  justify-content: center;
  height: 100vh;
}

* {
  font-family: "roboto";
  color: white;
}

.searchSection {
  width: 50em;
  height: 100%;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1em;
}

header {
  font-size: 4rem;
  display: flex;
  gap: 0.5em;
  font-family: "kaushan";
  align-items: center;
  margin-bottom: -0.3em;
}

img {
  height: 1em;
}

.location {
  color: black;
  text-align: center;
  border: 0.1em solid rgba(0, 0, 0, 0.581);
  border-radius: 0.3em;
  width: 15em;
  font-size: 1.5rem;
}

.mainContent {
  display: flex;
  flex-direction: column;
  width: 50vw;
  height: 100%;
  padding: 4em;
}

.temperature {
  font-size: 5rem;
  margin-bottom: -0.25em;
  font-weight: lighter;
}

.time,
.description {
  font-size: 2rem;
}

.cityHeader {
  margin-top: auto;
}

.city {
  font-family: "kaushan";
  font-size: 5rem;
}

.sideContent {
  padding: 5em 4em;
  background-image: linear-gradient(to bottom, #7a8cab, #4d6da3);
  width: 50vw;
  height: 100%;
  margin-left: auto;
  display: flex;
  flex-direction: column;
}

.today,
.tommorow,
.overmorrow {
  font-size: 3rem;
}

.todayCondition,
.tommorowCondition,
.overmorrowCondition {
  font-size: 2rem;
}

.exit {
  margin-top: auto;
  margin-left: auto;
}

.back {
  background: none;
  border: none;
}

.back img {
  height: 2em;
}
